<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">Mimi-Bobo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/register">S'inscrire</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="formContainer">
  <form id="loginForm" class="col s12" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" [(ngModel)]="email" name="email" required>
        <label for="email" data-error="wrong" data-success="right">Courriel</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password" required>
        <label for="password" data-error="wrong" data-success="right">Mot de passe</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <span class="errorMessage">{{errorMessage}}</span>
        <button class="btn waves-effect waves-light" type="submit" name="action" >S'inscrire</button>
      </div>
    </div>
  </form>
</div>
