<table class="striped">
  <thead>
  <tr>
    <th data-field="source">URL sources</th>
    <th data-field="minifie">URL minifie</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><a href="http://footballstories.konbini.com/entertainment/grand-nimporte-quoi-reseaux-sociaux-psg-ol/">http://footballstories.konbini.com/entertainment/grand-nimporte-quoi-reseaux-sociaux-psg-ol/</a></td>
      <td><a href="http://mimi.bobo/huVDi">http://mimi.bobo/huVDi</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://cheese.konbini.com/photos/aride-desert-californien-couvre-milliers-fleurs-multicolores/">http://cheese.konbini.com/photos/aride-desert-californien-couvre-milliers-fleurs-multicolores/</a></td>
      <td><a href="http://mimi.bobo/f5rD">http://mimi.bobo/f5rD"</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://www.konbini.com/fr/entertainment-2/le-casting-xxl-du-prochain-album-de-gorillaz-fuite-et-fait-rever/">http://www.konbini.com/fr/entertainment-2/le-casting-xxl-du-prochain-album-de-gorillaz-fuite-et-fait-rever/</a></td>
      <td><a href="http://mimi.bobo/5r6c">http://mimi.bobo/5r6c</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://footballstories.konbini.com/entertainment/grand-nimporte-quoi-reseaux-sociaux-psg-ol/">http://footballstories.konbini.com/entertainment/grand-nimporte-quoi-reseaux-sociaux-psg-ol/</a></td>
      <td><a href="http://mimi.bobo/huVDi">http://mimi.bobo/huVDi</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://cheese.konbini.com/photos/aride-desert-californien-couvre-milliers-fleurs-multicolores/">http://cheese.konbini.com/photos/aride-desert-californien-couvre-milliers-fleurs-multicolores/</a></td>
      <td><a href="http://mimi.bobo/f5rD">http://mimi.bobo/f5rD"</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://www.konbini.com/fr/entertainment-2/le-casting-xxl-du-prochain-album-de-gorillaz-fuite-et-fait-rever/">http://www.konbini.com/fr/entertainment-2/le-casting-xxl-du-prochain-album-de-gorillaz-fuite-et-fait-rever/</a></td>
      <td><a href="http://mimi.bobo/5r6c">http://mimi.bobo/5r6c</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://footballstories.konbini.com/entertainment/grand-nimporte-quoi-reseaux-sociaux-psg-ol/">http://footballstories.konbini.com/entertainment/grand-nimporte-quoi-reseaux-sociaux-psg-ol/</a></td>
      <td><a href="http://mimi.bobo/huVDi">http://mimi.bobo/huVDi</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://cheese.konbini.com/photos/aride-desert-californien-couvre-milliers-fleurs-multicolores/">http://cheese.konbini.com/photos/aride-desert-californien-couvre-milliers-fleurs-multicolores/</a></td>
      <td><a href="http://mimi.bobo/f5rD">http://mimi.bobo/f5rD"</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td><a href="http://www.konbini.com/fr/entertainment-2/le-casting-xxl-du-prochain-album-de-gorillaz-fuite-et-fait-rever/">http://www.konbini.com/fr/entertainment-2/le-casting-xxl-du-prochain-album-de-gorillaz-fuite-et-fait-rever/</a></td>
      <td><a href="http://mimi.bobo/5r6c">http://mimi.bobo/5r6c</a></td>
      <td><a href="#!"><i class="material-icons">delete</i></a></td>
    </tr>
  </tbody>
</table>
